__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.idea/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
local_settings.py
instance/
.webassets-cache
# Sphinx documentation
docs/_build/
target/
# pyenv
.python-version
celerybeat-schedule
.env
venv/
ENV/

*.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
